{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Hidden Eye</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta
		  name="viewport"
		  content="width=device-width, initial-scale=1, maximum-scale=1"
		/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css2?family=Quantico:ital@1&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="{% static '/realsecurity/style.css' %}"></style>
		<link
		  rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
		  crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
	</head>
  <body class="body-home">
	<noscript>   
        <div class="color-red medium-text padding-bottom-35 clearfix">
          This website requires JavaScript. Please enable JavaScript in your
          browser.
        </div>
      </noscript>
	<!--Navbar-->
	
	<h1 class=" welcome " style="background: #000d1a;">Welcome to Hidden Eye !!</h1>
	
	<nav class="navbar navbar-expand-lg navbar-light sticky" id="navbar">

		<div class="container">
			
			<div class="row">
				
				<a class="navbar-brand" href="#" ><img class="logo-navbar" src="{% static '/realsecurity/images/logo4.png' %}" ></a>
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarText"
					aria-controls="navbarText"
					aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarText">
					
					<ul class="nav justify-content-center nav-list-home">
						<li class="nav-item active">
							<a class="nav-link textcolor-cyan" href="#">
								Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link textcolor-cyan" href="#vision">Our Vision</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link textcolor-cyan" href="Services.html">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link textcolor-cyan" href="#contact">Contact Us</a>
						</li>
					</ul>
					
				</div>
			</div>
		</div>   
	</nav>
	<!--Navbar-->

	<!--Carousel-->
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
		  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<img class="d-block w-100" src="{% static '/realsecurity/images/image7.jpg' %}" alt="First slide">
			<div class="carousel-caption" style="top:30%; left:0%">
				<div class="container-fluid">
					<h1>PROTECTING YOU FROM VULNERABLE WEBSITES</h1>
					<p>Hidden Eye is an effort to make you day to day browsing more safer.</p>
					<h3 class="care-to-aware"># Care to be aware</h3>
				</div>
				
			</div> 
		  </div>
		  <div class="carousel-item">
			<img class="d-block w-100" src="{% static '/realsecurity/images/cyber-sec-carousel.jpg' %}" alt="Second slide">
			<div class="carousel-caption" style="top:30%; left:0%">
				<div class="container-fluid">
					<h1>PROTECTING YOU FROM MALICIOUS SOFTWARE</h1>
					<p>We are here to help saving you from malicious content that is there on the net , and help you get digitised safely.</p>
					<h3 class="care-to-aware"># Care to be aware</h3>
				</div>
				
			</div> 
		  </div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
	</div>
	<!--Carousel ends-->
	<!--Our Vision-->
	<a name="vision"></a>
	<section class="home-section-new">
		<h3 class="vision-heading">OUR VISION</h3>
		<br>
		<hr class="vision-hr">
		<div class="row">
			<div class="col-md-7 vision-content">
				As the world is experiencing one of the greatest pandemics ever occured in the history of mankind , we are forced to stay inside ou house and not to meet with other people , the only way we can pass through these tough times is through digitisation of our work as much as possible , like we see nowadays , all the office meetings and all the work is being done online. But with the increasing digitisation , we stand face to face with a great threat to our privacy , to our data , to ouw confidential files , to integrity of our system and to protect all these things we are here to help you out.
			</div>
			<div class="col-md-5">
				<img src="{% static '/realsecurity/images/vision2.jpg' %} " height="100%" width="100%">
			</div>
		</div>
		<hr class="vision-hr">
	</section>
	<!--Our Vision-->


	<a name="team"></a>
	<!--Our Team-->
	<section class="team section-team">
		<div class="container">
			<h1 class="section-title">Our Team </h1>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="team-item">
						<figure>
							<img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1558758980/portrait-1287413_640.jpg" alt="">
							<figcaption>
								<div class="info">
									<h3>Priyal</h3>
									<p>Developer</p>
								</div>
								<div class="social">
									<a href="#" class="twitter" data-abc="true"><i class="fa fa-twitter"></i></a>
									<a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a>
									<a href="#" class="google-plus" data-abc="true"><i class="fa fa-linkedin"></i></a>
								</div>
							</figcaption>
						</figure>
					</div>
	            </div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="team-item">
						<figure>
							<img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1558758980/portrait-1287413_640.jpg" alt="">
							<figcaption>
								<div class="info">
									<h3>Tarun</h3>
									<p>Developer</p>
								</div>
								<div class="social">
									<a href="#" class="twitter" data-abc="true"><i class="fa fa-twitter"></i></a>
									<a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a>
									<a href="#" class="google-plus" data-abc="true"><i class="fa fa-linkedin"></i></a>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
			
			
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="team-item">
						<figure>
							<img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1558758980/portrait-1287413_640.jpg" alt="">
							<figcaption>
								<div class="info">
									<h3>Shubham</h3>
									<p>Developer</p>
								</div>
								<div class="social">
									<a href="#" class="twitter" data-abc="true"><i class="fa fa-twitter"></i></a>
									<a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a>
									<a href="#" class="google-plus" data-abc="true"><i class="fa fa-linkedin"></i></a>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="team-item">
						<figure>
							<img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1558758980/portrait-1287413_640.jpg" alt="">
							<figcaption>
								<div class="info">
									<h3>Tarun</h3>
									<p>Developer</p>
								</div>
								<div class="social">
									<a href="#" class="twitter" data-abc="true"><i class="fa fa-twitter"></i></a>
									<a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a>
									<a href="#" class="google-plus" data-abc="true"><i class="fa fa-linkedin"></i></a>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Our Team-->

	<a name="contact"></a>

	<!--Contact Us-->
	<section class="home-section-new">
		<h3 class="vision-heading">CONTACT US</h3>
		<br>
		<hr class="vision-hr">
		<div class="container">
			<div class="row">
			  <div class="col-sm-12" id="parent">
					<form action="form.php" class="contact-form" method="post">
			  
						<div class="form-group">
							<input type="text" class="form-control" id="name" name="nm" placeholder="Name" required="" autofocus="">
						</div>
					  
					  
						<div class="form-group form_left">
							<input type="email" class="form-control" id="email" name="em" placeholder="Email" required="">
						</div>
					  
						<div class="form-group">
							 <input type="text" class="form-control" id="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required="">
						</div>
						<div class="form-group">
							<textarea class="form-control textarea-contact" rows="5" id="comment" name="FB" placeholder="Type Your Message/Feedback here..." required=""></textarea>
							<br>
							 <button class="btn btn-default btn-send"> <i class="fa fa-send"></i> &nbsp; Send </button>
							 
						</div>
					</form>  
			  	</div>
			</div>
			<div class="container second-portion">
				<div class="row ">
					<!-- Boxes de Acoes -->
					<div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
						<div class="box">							
							<div class="icon">
								<div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
								<div class="info">
									<h3 class="title">MAIL</h3>
									<p>
										<i class="fa fa-envelope" aria-hidden="true"></i> &nbsp priyal930gupta@gmail.com
										<br>
										<br>
										<i class="fa fa-envelope" aria-hidden="true"></i> &nbsp priyal930gupta@gmail.com
									</p>
								
								</div>
							</div>
							<div class="space"></div>
						</div> 
					</div>
						
					<div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
						<div class="box">							
							<div class="icon">
								<div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
								<div class="info">
									<h3 class="title">CONTACT</h3>
									<p>
										<i class="fa fa-mobile" aria-hidden="true"></i> &nbsp; (+91)-9624XXXXX
										<br>
										<br>
										<i class="fa fa-mobile" aria-hidden="true"></i> &nbsp;  (+91)-756706XXXX
									</p>
								</div>
							</div>
							<div class="space"></div>
						</div> 
					</div>
					
				</div>
			</div>
		</div>
		<hr class="vision-hr">
	</section>
	<!-- Contact Us-->
	
	<!--Footer-->
	<footer class="section-footer footer-classic context-dark bg-image">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
			  <div class="pr-xl-4"><h5 class="footer-heading">Hidden Eye</h5>
				<div class="footer-about-content">
                <p>Hidden Eye is a project who main motto is to help people to get digitised in a more safer way , protect their integrity , data and privacy in these tough and increasingly digitising times.</p>
                <!-- Rights-->
				<p class="care-to-aware"># Care to be aware</p>
			</div>
              </div>
            </div>
            <div class="col-md-4">
              <h5 class="footer-heading">Contacts</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd>&nbsp;JMIT,Radaur</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#" class="footer-link">&nbsp;priyal930gupta@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd> &nbsp; (+91)-9624XXXXX
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5 class="footer-heading">Links</h5>
              <ul class="nav-list">
                <li><a href="#" class="footer-link">&nbsp;About</a></li>
                <li><a href="#" class="footer-link">&nbsp;Services</a></li>
                <li><a href="#" class="footer-link">&nbsp;Our vision</a></li>
                <li><a href="#" class="footer-link">&nbsp;Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
        	<div class="col">
			  <a class="social-inner footer-link" href="#">
				<i class="fa fa-facebook" aria-hidden="true"></i> <br>&nbsp;Facebook
				<br>
				</a>
			</div>
			<div class="col">
			<a class="social-inner footer-link" href="#">
			  <i class="fa fa-linkedin" aria-hidden="true"></i> <br>&nbsp;Linked-in
			  <br>
			  </a>
			</div>
			<div class="col">
				<a class="social-inner footer-link" href="#">
				<i class="fa fa-twitter" aria-hidden="true"></i> <br>&nbsp;Twitter
				<br>
				</a>
			</div>
			<div class="col">
				<a class="social-inner footer-link" href="#">
				<i class="fa fa-google" aria-hidden="true"></i> <br>&nbsp;Google
				<br>
				</a>
			</div>
		
      </footer>
	<!--Footer-->
	


	<!--Scripts-->
	 
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
